:root {
    --poppins: 'Poppins', sans-serif;
    --red: #EB5757;
    --blue: #2D9CDB;
    --green: #27AE60;
    --dark-blue: #100E1D;
    --gray: #828282;
    --soft-gray: #BDBDBD;
    --light-gray: #F2F2F2;


}
html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    font-family: var(--poppins);
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 0;
}
/* Globales */
.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
ul{
    padding: 0;
}
a{
    text-decoration: none;

}
h1{
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.6rem;
    margin: 0;
}
h2{
    font-size: 2.4rem;
    font-weight: 500;
    margin: 0;
}
img{
    max-width: 100%;
}
p{
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.8rem;
}
/* Utilities */
.heading-big{
    font-size: 4.8rem;
}
.heading-mid{
    font-size: 3.6rem;
}
.heading-smll{
    font-size: 2.4rem;

}
.bold{
    font-weight: bold;
}
.color-blue{
    color: var(--blue);
}
.color-red{
    color: var(--red);
}
.extra-padding{
    padding: 0 2rem;
}
.box-shadow--selected{
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    border-radius: 24px;
}
.primary-button{
    background-color: var(--blue);
    border: 0;
    color: var(--light-gray);
    font-weight: bold;
    height: 4rem;
    width: auto;
    padding: 0  2rem;
    border-radius: 1rem;
}
.secundary-button{
    background-color: var(--light-gray);
    border: 0;
    color: var(--gray);
    height: 4rem;
    width: auto;
    padding: 0  2rem;
    border-radius: 1rem;
}
/* Header section */
header{
    height: 7rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-btn span{
    color: black;
    font-size: 4rem;
    margin-right: 2rem;
    cursor: pointer;
}
.nav-menu{
    position: absolute;
    left: 0;
    top: 5rem;
    width: 100%;
    height: 0vh;
    background-color: var(--light-gray);
    text-align: center;
    transition: all .5s;
}
.nav-menu li{
    display: none;
    line-height: 3rem;
    margin: 5rem 0;
    transition: all .5s;
}
.nav-menu li a{
    color: var(--gray);
    font-size: 1.8rem;
    font-weight: 500;
}
.nav-menu li a:hover{
    color: var(--blue);
    transition: .3s;
}
#check{
    display: none;
}
#check:checked ~ .nav-menu{
    height: 100vh;
}
#check:checked ~ .nav-menu li {
    display: block;
}
.hero-image{
    background-image: url(assets/images/heroImage.jpg);
    background-position: center;
    background-size: cover;
    height: 14.5rem;
    width: auto;
    border-radius: 1rem;
}
.input-container{
    height: 4.8rem;
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-gray);
    border-radius: 1rem;
    padding: 0.4rem;
}
.input-text{
    height: 2.6rem;
    border: none;
    background-color: var(--light-gray);
}
.services-container{
    margin-top: 6rem;
}
.service{
    margin: 8.5rem 0;
    padding: 4.5rem 3rem;
}
.service h2{
    margin: 3.5rem 0 2.5rem;
}
.service .primary-button{
    margin-top: 3rem;
}
.service .secundary-button{
    margin-top: 3rem;
}
.service_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    width: 7rem;
    border-radius: 1rem;
}
.material-symbols-outlined{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.background-blue{
    background-color: var(--blue);
}
.background-green{
    background-color: var(--green);
}
.background-red{
    background-color: var(--red);
}
.design_preview img{
    border-radius: 2rem;
}
.design_preview img{
    margin: 3.6rem 0 1.2rem;
}
.more-designs-link{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.more-designs-link .material-symbols-outlined{
    color: var(--blue);
    font-size: 1.3rem;
}
.team-integrants{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, minmax(7.5rem, auto));
    gap: 1rem;
}
.team-integrants img{
    border-radius: 1rem;
}
.person1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.person2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}
.person3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.costumer-container{
    display: flex;
    gap: 3rem;
}
.costumer-img{
    height: 8.2rem;
    width: 8.2rem;
}
.costumer-img img{
    border-radius: 1rem;
}
/* Footer section */
footer{
    color: white;
    background-color: var(--dark-blue);
    padding: 4rem 4rem 0 4rem;
    margin-top: 4rem;
    width: 100vw;
}
.hot-links{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.hot-links a{
    margin-bottom: 1rem;
    color: white;
}
.social-media_container{
    margin: 6.5rem 0;
}
footer .contact-form{
    margin-bottom: 15rem;
}
footer .creator{
    padding-bottom: 2rem;
    text-align: center;
}
@media (min-width: 768px){
    .menu-btn{
        display: none;
    }
    .nav-menu{
        transition: none;
        background-color: none;
        margin: 0;
        margin-right: 5rem;
    }
    .nav-menu li{
        display: inline-block;
        margin: 0 2rem;
        transition: none;
    }
    .nav-menu li a{
        font-size: 2.4rem;
    }
    .hero-image{
        height: 34.5rem;
    }

    .service_cards--container{
        display: flex;
        flex-direction: row;
    }

    /* Footer section */
    .footer-info{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .social-media_container{
        margin: 0;
    }
}